body,html{
    margin:0px;
    padding:0px;
    height:100%;
    font-family:Arial;
}
#e{
    width:120px;
    height:100%;
    background:#F2F2F2;
    float:left;
}
    #e ul{
        margin:0px;
        padding:0px;
        list-style:none;
        width:100%;
    }
        #e ul div{
            width:100%;
            color:#C00;
            font-size:10px;
            text-align:center;
            font-style:italic;
            border-bottom:solid 1px #CCC;
            padding:3px 0px;
            background:#CCC;
        }
        #e ul a{
            width:100%;
            text-decoration:none;
        }
        #e ul a li{
            width:110px;
            padding:10px 0px 10px 10px;
            color:#000;
            font-size:12px;
            border-bottom:solid 1px #CCC;
        }
            #e ul a li:hover{
                background:#E2E2E2;
            }
#d{
    float:left;
    padding:5px 20px;
}
.add{
    background:url('../imagem/mais.png')  5px center no-repeat;
    background-size:12px;
    padding:0px 5px 0px 22px;
    border:solid 1px #444;
    border-radius:3px;
    width:12px;
    height:12px;
    cursor:pointer;
}
.del{
    background:url('../imagem/menos.png')  5px center no-repeat;
    background-size:12px;
    padding:0px 5px 0px 22px;
    margin:0px 0px 0px 5px;
    border:solid 1px #444;
    border-radius:3px;
    width:12px;
    height:12px;
    cursor:pointer;
}